<section id=<%= headerText %> class="py-1 h-[90vh] md:h-[500px] flex flex-col gap-5 snap-start">
    <%- include("./indexHeader", {headerText, items}) %>
    <% if(items && items.length > 0) {%>
        <ul>
        <% items.forEach(item => { %>
            <li class="w-full overflow-hidden border-b border-b-transparent hover:border-b-black"><a class="block" href=""><%= item %></a></li>
            <%}) %>
        </ul>
    <%} else {%>
            <p class="text-center">No <%= headerText %> present in inventory.</p>
            <% } %>
    <button class="mt-auto py-2 bg-black text-white text-xl font-medium w-full hover:cursor-pointer">Add new</button>
</section>